@model IEnumerable<JulianaSosaGestorPacientesWeb.Models.JSCategoria>

@{
    ViewData["Title"] = "JS_Categoria";
}

<h1>JS_Categoria</h1>

<p>
    <a asp-action="JSCreate" class="btn btn-secondary d-block mx-auto btn-lg">
        <i class="fa fa-plus" aria-hidden="true"></i>Crear Categoria

    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JSGravedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSFechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td> 
                @Html.DisplayFor(modelItem => item.JSGravedad)
           </td>
           <td>
                @Html.DisplayFor(modelItem => item.JSFechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JSPaciente.JSApellido)
            </td>
            <td>
                <a class="btn btn-success" asp-action="JSEdit" asp-route-id="@item.JSCategoriaID"> <i class="fa fa-pencil-square" aria-hidden="true"></i>Editar</a> |
                <a class="btn btn-warning" asp-action="JSDetails" asp-route-id="@item.JSCategoriaID"> <i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</a> |
                <a class="btn btn-danger" asp-action="JSDelete" asp-route-id="@item.JSCategoriaID"><i class="fa fa-trash" aria-hidden="true"></i>Eliminar</a>
            </td>
        </tr>
}           
    </tbody>
</table>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Volver</a>

