@model IEnumerable<JulianaSosaGestorPacientesWeb.Models.JSPaciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>JS Pacientes</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Añadir Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JSNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSEnfermedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JSDNI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JSNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JSApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JSEnfermedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JSDNI)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.JSPacienteID">Editar</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.JSPacienteID">Detalles</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.JSPacienteID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Volver</a>

